<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test.html</title>
</head>
<body>
    <h1>테스트 HTML 페이지입니다.</h1>
    <h3>과정</h3>
    <ol>
        <li> 플라스크 서버 구동</li>
        <li> localhost:5000/template-basic URL 요청</li>
        <li> 뷰 함수에서 render_template(template.html)</li>
        <li> 응답 결과 template.html 문서 출력(렌더링)</li>
        <li> 페이지 확인</li>
    </ol>

    <hr>
    
    <!-- HTML 주석 -->
    {# 주석 #}
    {# 결과 출력 : {{ 변수 }} #}
    <h3></h3>
    <h5>1. 출력</h5>
    <ul>
        {# 리스트 출력 #}
        

        {# 딕셔너리 출력 #}

    </ul>

    <hr>

    {# if문 주석 #}
    <h5>2. if문</h5>
    <div>
        {# 단순 if문 #}
        
        <br>
        
        {# 복합 if문 #}
        {# if True #}

    </div>

    <hr>

    {# for문 주석 #}
    <h5>3. for문</h5>
    <ol>

    </ol>
    
</body>
</html>